@import "reset";

// common classes

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.bg-disabled {
  background-color: rgb(238, 237, 237);
}

.height-100vh {
  height: 100vh;
}

label {
  margin-top: 1.3rem;
  margin-bottom: 0.3rem;
}

input {
  width: 100%;
}

// custom
.multi-form-div {
  background-color: rgb(218, 235, 246);
}
.multi-form {
  width: 30%;
  margin-top: 1.5rem;
  input {
    height: 3.5%;
    outline-color: royalblue;
    border: 1px solid gray;
  }
  label {
    font-weight: 500;
  }

  #file {
    width: 100%;
    border: 1px solid black;
    background-color: white;
    padding: 0.2rem;
    border-radius: 0.2rem;
  }
}

// validation

.form-validation {
  width: 25%;
  padding: 1rem 2rem;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);
  height: 72vh;
  h2 {
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
  }

  input {
    padding: 0.4rem 0.2rem;
  }

  label {
    color: gray;
  }

  #btn {
    margin-top: 1.5rem;
    width: 324px;
    text-align: center;
  }
}

.error {
    outline-color:  red;
    border: 2px solid red;
}


span{
    color:  red;
    font-size: 0.9rem;
    margin-top: 0.2rem;
}
